aiodns @ file:///opt/miniconda3/conda-bld/aiodns_1762184801219/work
aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1741775197943/work
aiohttp @ file:///opt/miniconda3/conda-bld/aiohttp_1762519752188/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1751626463503/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_anyio_1764375386/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1691763562544/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_attrs_1764875182/work
Brotli @ file:///opt/miniconda3/conda-bld/brotli-split_1762363406685/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1762976168352/work/certifi
cffi @ file:///opt/miniconda3/conda-bld/cffi_1761832772717/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1760437218288/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1734729835256/work
dotenv==0.9.9
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1763918002538/work
frozenlist @ file:///opt/miniconda3/conda-bld/frozenlist_1761062017275/work
greenlet @ file:///opt/miniconda3/conda-bld/greenlet_1757405398210/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1745526374115/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1745602916/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1733663348460/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1760286409563/work
jiter @ file:///opt/miniconda3/conda-bld/jiter_1762897295847/work
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1733814567314/work
jsonpointer @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jsonpointer_1765026384/work
langchain @ file:///home/conda/feedstock_root/build_artifacts/langchain_1759305589760/work
langchain-core @ file:///home/conda/feedstock_root/build_artifacts/langchain-core_1760049400264/work
langchain-text-splitters @ file:///home/conda/feedstock_root/build_artifacts/langchain-text-splitters_1756689305564/work
langgraph @ file:///opt/miniconda3/conda-bld/langgraph_1761666807513/work
langgraph-checkpoint @ file:///opt/miniconda3/conda-bld/langgraph-checkpoint_1761298490870/work
langgraph-prebuilt @ file:///opt/miniconda3/conda-bld/langgraph-prebuilt_1761658156118/work
langgraph-sdk @ file:///opt/miniconda3/conda-bld/langgraph-sdk_1761562093945/work
langsmith @ file:///opt/miniconda3/conda-bld/langsmith_1759484060408/work
msgpack==1.1.1
multidict @ file:///opt/miniconda3/conda-bld/multidict_1760566705389/work
numpy @ file:///opt/miniconda3/conda-bld/numpy_and_numpy_base_1761579345363/work/dist/numpy-2.2.5-cp310-cp310-macosx_12_0_arm64.whl#sha256=cee7bef98ac83b78786789b80f44469231df1e3cf12ce327f909aa4ea0fcee88
openai @ file:///home/conda/feedstock_root/build_artifacts/openai_1758741091581/work
orjson @ file:///opt/miniconda3/conda-bld/orjson_1762550832873/work
ormsgpack @ file:///opt/miniconda3/conda-bld/ormsgpack_1761294280667/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
propcache @ file:///opt/miniconda3/conda-bld/propcache_1765457305371/work
pycares @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_b01dqj7707/croot/pycares_1756217969873/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pydantic_1764434463/work
pydantic_core @ file:///opt/miniconda3/conda-bld/pydantic-core_1764009769251/work
pynvim==0.6.0
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dotenv==1.2.1
PyYAML @ file:///opt/miniconda3/conda-bld/pyyaml_1763465492983/work
requests @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_requests_1766926974/work
requests-toolbelt @ file:///home/conda/feedstock_root/build_artifacts/requests-toolbelt_1733734787568/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1762941432086/work
SQLAlchemy @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_64hfvudz6k/croot/sqlalchemy_1756710322669/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1743640740204/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
typing-inspection @ file:///home/conda/feedstock_root/build_artifacts/typing-inspection_1764158251755/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
xxhash @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_4dqzb3ngyc/croot/python-xxhash_1737039922516/work
yarl @ file:///opt/miniconda3/conda-bld/yarl_1762250142216/work
zstandard @ file:///opt/miniconda3/conda-bld/zstandard_1758189076455/work
